body {
	/*font-family: 'Open Sans', sans-serif;*/
	font-family: 'Ubuntu', sans-serif;
	background-color: #eee;
}

.row {
	padding-right: 0 !important;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
	color: #fff;
	background-color: #428bca;
}

.column {
    margin-top:20px;
}

.nav-pills>li>a {
	border-radius: 0px;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: none;
}

.nav-stacked>li+li {
	margin-top: 0px;
	margin-left: 0;
	border-bottom:1px solid #dadada;
	border-left:1px solid #dadada;
	border-right:1px solid #dadada;
}

.nav-stacked>li>a:hover {
	background-color: #428bca;
	color:white;
}

#container { 
	margin: 0 0;
}

#search {
	margin-top: 20px;
	margin-left: 15px;
	margin-bottom: 20px;
}

.gallery-obj {
	background-color: transparent;
	border: none;
	position: relative;
	margin: 0 0;
	padding: 0 0;
}


.thumb-content {
	position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: rgba(0,0,0,0.5);
}

.category {
	position: absolute;
	width: 30%;
	left: 70%;
	top: 60%;
	height: 40%;
}

.pName {
	color: white;
	position: relative;
	font-size: 1.5em;

}

.vignette {
	-webkit-box-shadow: inset 0px 0px 185px rgba(0,0,0,0.6);
	-moz-box-shadow:    inset 0px 0px 185px rgba(0,0,0,0.6);
	box-shadow:         inset 0px 0px 185px rgba(0,0,0,0.6);
	
	line-height: 0;         /* ensure no space between bottom */
}

.project {
	padding: 0 0;
	margin: 0 0;
}

.gallery-img {
	width: 100%;
}

#detail-image-continer {
	height: 300px;
	overflow: hidden;
}

#detail-image {
	width: 100%;
}

.category {
	line-height: 36px;
	margin-top: 5px;
}

#project-description {
	margin-top: 20px;
	line-height: 28px;
	font-size: 16px;
	margin-bottom: 30px;
}

#demo {
	width: 90%;
	margin: 0 auto !important;
}

#resume {
	padding-left: 45px;
	margin-top: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}

#detailPanel {
	padding: 10px 25px;
	margin-top: 15px;
}

#marmoset {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 50px;
}

#ngViewPar {
	padding: 0 3% !important;
}

.list-group-item:hover {
	background-color: #777;
	color: white;
}

.active {
	-moz-transition: all 2s;
	transition: all 2s;
}

.resumeList > div:hover {
	background-color: #eee;
}

@media screen and (min-width: 767px) {
	.button-thing {
		display: none;
	}
}

@media screen and (max-width: 767px) {

	/* outer div */
	.row-offcanvas {
		left: 0;
		position: relative;
		transition: left 0.3s ease-in 0s;
	}

	/* sidebar */
	.sidebar-offcanvas {
		left: -50%;
		width: 50%;
		position: absolute;
	}

	/* content */
	.row-offcanvas.active {
		left: 50%;
	}

	.pName {
		display: none;
	}
	.thumb-content {
		background-color: transparent;
	}

	#artstation {
		margin-top: 30px;
	}

}

#toggleMenu-btn {
	margin-top: 5px;
}

/* anim */

.slide-animation.ng-enter,
.slide-animation.ng-leave {
	-webkit-transition: 0.5s ease-in all;
	-moz-transition: 0.5s ease-in all;
	-o-transition: 0.5s ease-in all;
	transition: 0.5s ease-in all;
	position: relative;
	left: 0;
	right: 0;
	height: 1000px;
}

.slide-animation.ng-enter {
	z-index: 100;
	left: 100px;
	opacity: 0;
}

.slide-animation.ng-enter.ng-enter-active {
	left: 0;
	opacity: 1;
}

.slide-animation.ng-leave {
	z-index: 101;
	left: 0;
	opacity: 1;
}

.slide-animation.ng-leave.ng-leave-active {
	left: -100px;
	opacity: 0;
}