<div class='panel panel-default' id='resume'>

	<!-- interactive resume -->
	<div class='row'>
		<!-- contact info -->
		<div class='col-xs-12'>
			<h2>Juan Diego Lugo | Character TD &amp; Modeling</h2>
			<h4><a target="_blank" href='mailto:juandiego.lugo@gmail.com'>juandiego.lugo@gmail.com</a></h4>
			<h4>+1(305)409-6573</h4>
		</div>

		<!-- experience -->
		<div class='col-xs-12'><h2>Experience</h2></div>
		<div class='col-xs-12 resumeList' style='margin: 0 0; padding: 0 0;'>
			<div class='col-xs-12'>
				<h3>Rigging Artist @ <a target="_blank" href="http://www.motionlogicstudios.com/">Motion Logic Studios</a></h3>
				<h4>{{"July 2014 - Present" | uppercase }}</h4>
			</div>
			<div class='col-xs-12'>
				<h3>Technical Artist @ <a target="_blank" href="http://www.dmds7udios.com/">DMDS7UDIOS</a></h3>
				<h4>{{"January 2014 - July 2014" | uppercase }}</h4>
			</div>
			<div class='col-xs-12'>
				<h3>Intern @ <a target="_blank" href="http://jaibanastudios.com/">Jaibana Studios</a></h3>
				<h4>{{"July 2013 - September 2013" | uppercase }}</h4>
			</div>
		</div>
		<!-- education -->
		<div class='col-xs-12'><h2>Education</h2></div>
		<div class='col-xs-12 resumeList'>
			<div class='col-xs-12' style='margin: 0 0; padding: 0 0;'>
				<h3>3D Character Program @ <a target="_blank" href="http://animschool.com/">AnimSchool</a></h3>
				<h4>{{"January 2014 - September 2015" | uppercase }}</h4>
			</div>
			<div class='col-xs-12' style='margin: 0 0; padding: 0 0;'>
				<h3>BFA Computer Animation @ <a target="_blank" href="https://www.artinstitutes.edu/miami">Miami Intl' University of Art &amp; Design</a></h3>
				<h4>{{"January 2010 - September 2013" | uppercase }}</h4>
			</div>
		</div>
		<div class='col-xs-12'><h2>Skillsets and Software Expertise</h2></div>
			<div class='col-xs-12 col-sm-6'>
				<ul>
					<li>Rigging</li>
					<li>Modeling</li>
					<li>Programming</li>
				</ul>
			</div>
			<div class='col-xs-12 col-sm-6'>
				<ul>
					<li>Autodesk Maya</li>
					<li>Pixologic ZBrush</li>
					<li>Adobe Creative Suite</li>
					<li>Python, PySide, Maya's Python API</li>
					<li>MEL</li>
				</ul>
			</div>
	</div> <!-- row end -->
</div> <!-- container end -->

<div class='col-xs-12' style='margin-bottom: 30px;'>
	<h4>Download PDF and Digital JPG versions of the resume through the following links</h4>
	<div class='col-xs-12 col-sm-3' style='margin-top: 10px;'>
		<a target="_blank" href="http://juanlugo.com/resumefiles/resume.pdf"><img src="img/icons/pdf.png"></a>
		<a target="_blank" href="http://juanlugo.com/resumefiles/resume_digital.jpg"><img src="img/icons/jpg.png"></a>
	</div>
</div>